<%- include('partials/header'); -%>
<h1>Get In Touch</h1>
    <p class="content">
        
        <%=contactContent%>
      
    </p>
    <h4>Email: contact@exampleblog.com</h4>




    <%- include('partials/footer'); -%>