<%- include('partials/header'); -%>

<div class="box">
  <h2 class="title"><%=title.split('')[0].toUpperCase().concat(title.split(1))%></h2>
  <p class="content"><%=content%></p>
</div>

<%- include('partials/footer'); -%>
